Perguntas realizadas:

1) Qual país é mais perigoso para se surfar?
    Colunas [Activity/Country]

2) Qual a taxa de letalidade dos ataques de tubarão em cada país?
    Colunas [Fatal(Y/N)/Country]
        
3) Qual a taxa de letalidade por atividade praticada?
    Colunas [Fatal(Y/N)/Activity]

In [71]:
import pandas as pd
import re
import numpy as np

In [72]:
#Importndo conteúdo

tb_attacks = pd.read_csv('C:/Users/paulo_nnut75u/Desktop/IronHack/attacks.csv',
                         sep = ',',
                         encoding = 'latin-1')

In [73]:
#Extraindo informações do DataFrame

tb_attacks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [74]:
#Vizualizando Data Frame

tb_attacks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [75]:
#Consertando títulos

pattern_tit = ' '

tb_attacks.columns = [re.sub(pattern_tit, '_', column.lower()) for column in tb_attacks.columns]

tb_attacks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             8702 non-null   object
 1   date                    6302 non-null   object
 2   year                    6300 non-null   float64
 3   type                    6298 non-null   object
 4   country                 6252 non-null   object
 5   area                    5847 non-null   object
 6   location                5762 non-null   object
 7   activity                5758 non-null   object
 8   name                    6092 non-null   object
 9   sex_                    5737 non-null   object
 10  age                     3471 non-null   object
 11  injury                  6274 non-null   object
 12  fatal_(y/n)             5763 non-null   object
 13  time                    2948 non-null   object
 14  species_                3464 non-null   object
 15  investigator_or_source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href_formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  case_number.1           6302 non-null   object
 20  case_number.2           6302 non-null   object
 21  original_order          6309 non-null   float64
 22  unnamed:_22             1 non-null      object
 23  unnamed:_23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [76]:
###Retirando NA's através de máscaras

#Estabelecendo as máscaras

mask_fatal_not_na = tb_attacks['fatal_(y/n)'].notna()
mask_country_not_na = tb_attacks['country'].notna()
mask_sex_not_na = tb_attacks['sex_'].notna()
mask_activity_not_na = tb_attacks['activity'].notna()
mask_year_not_na = tb_attacks['year'].notna()

#Aplicando as máscaras

tb_fatal_not_na = tb_attacks[mask_fatal_not_na]
tb_country_not_na = tb_fatal_not_na[mask_country_not_na]
tb_sex_not_na = tb_country_not_na[mask_sex_not_na]
tb_activity_not_na = tb_sex_not_na[mask_activity_not_na]
tb_year_not_na = tb_activity_not_na[mask_year_not_na]
tb_attacks_not_na = tb_year_not_na

C:\Users\paulo_nnut75u\AppData\Local\Temp\ipykernel_15468\1742140550.py:14: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  tb_country_not_na = tb_fatal_not_na[mask_country_not_na]
C:\Users\paulo_nnut75u\AppData\Local\Temp\ipykernel_15468\1742140550.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  tb_sex_not_na = tb_country_not_na[mask_sex_not_na]
C:\Users\paulo_nnut75u\AppData\Local\Temp\ipykernel_15468\1742140550.py:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  tb_activity_not_na = tb_sex_not_na[mask_activity_not_na]
C:\Users\paulo_nnut75u\AppData\Local\Temp\ipykernel_15468\1742140550.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  tb_year_not_na = tb_activity_not_na[mask_year_not_na]

In [77]:
#Filtrando somente colunas escolhidas

colunas_manter = ['year','activity','sex_','country','fatal_(y/n)']
tb_attacks_not_na = tb_attacks_not_na[colunas_manter]
tb_attacks_not_na.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4935 entries, 0 to 6301
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         4935 non-null   float64
 1   activity     4935 non-null   object
 2   sex_         4935 non-null   object
 3   country      4935 non-null   object
 4   fatal_(y/n)  4935 non-null   object
dtypes: float64(1), object(4)
memory usage: 231.3+ KB

In [78]:
#Limpando os dados com Regex

#Criando padrões
pattern_activity = r'[^a-zA-Z]'
pattern_sex = r'[^m|n]'
pattern_country = r'[^a-zA-Z]'
pattern_fatal = r'[^y|n|nn|nnn]'

In [79]:
#Definindo funções de limpeza

def regex_year(value):
    return int(re.sub(r'[^[0-9]]', '', str(value)))

In [80]:
#Aplicando Padrões

In [81]:
#coluna Years

tb_attacks_not_na['year'] = tb_attacks_not_na['year'].map(regex_year)

tb_attacks_not_na.head()

ValueError: invalid literal for int() with base 10: '2018.0'

In [82]:
#coluna Activity

tb_attacks_not_na['activity'] = tb_attacks['activity'].map(limpar_activity)

tb_attacks_not_na['activity']

C:\Users\paulo_nnut75u\AppData\Local\Temp\ipykernel_15468\2957761444.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tb_attacks_not_na['activity'] = tb_attacks['activity'].map(limpar_activity)

0           Paddling
1           Standing
2            Surfing
3            Surfing
4        Free diving
            ...
6296        Swimming
6297          Diving
6298    Pearl diving
6299        Swimming
6301        Swimming
Name: activity, Length: 4935, dtype: object

In [83]:
#coluna Sex

tb_attacks_not_na['sex_'] = tb_attacks_not_na['sex_'].map(lambda x: re.sub(pattern_sex,'',x.lower()))

tb_attacks_not_na['sex_']

C:\Users\paulo_nnut75u\AppData\Local\Temp\ipykernel_15468\3827071277.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tb_attacks_not_na['sex_'] = tb_attacks_not_na['sex_'].map(lambda x: re.sub(pattern_sex,'',x.lower()))

0
1
2       m
3       m
4       m
       ..
6296    m
6297    m
6298    m
6299    m
6301    m
Name: sex_, Length: 4935, dtype: object

In [84]:
#coluna Country

tb_attacks_not_na['country'] = tb_attacks_not_na['country'].map(lambda x: re.sub(pattern_country,'',x.lower()))

tb_attacks_not_na['country']

C:\Users\paulo_nnut75u\AppData\Local\Temp\ipykernel_15468\585603269.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tb_attacks_not_na['country'] = tb_attacks_not_na['country'].map(lambda x: re.sub(pattern_country,'',x.lower()))

0                  usa
1                  usa
2                  usa
3            australia
4               mexico
             ...
6296         australia
6297         australia
6298         australia
6299               usa
6301    ceylonsrilanka
Name: country, Length: 4935, dtype: object

In [85]:
#coluna Fatal(y/n)

tb_attacks_not_na['fatal_(y/n)'] = tb_attacks_not_na['fatal_(y/n)'].map(lambda x: re.sub(pattern_fatal,'',x.lower()))

tb_attacks_not_na['fatal_(y/n)']

C:\Users\paulo_nnut75u\AppData\Local\Temp\ipykernel_15468\1882059740.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tb_attacks_not_na['fatal_(y/n)'] = tb_attacks_not_na['fatal_(y/n)'].map(lambda x: re.sub(pattern_fatal,'',x.lower()))

0       n
1       n
2       n
3       n
4       n
       ..
6296    y
6297    y
6298    y
6299    y
6301    y
Name: fatal_(y/n), Length: 4935, dtype: object

In [86]:
#Criando nova coluna para Activity = Surfing/Paddling/Free Diving/Swimming

tb_attacks_not_na['imp_activity'] = tb_attacks_not_na['activity'].str.findall(r'Surfing|Paddling|Free Diving|Swimming')

C:\Users\paulo_nnut75u\AppData\Local\Temp\ipykernel_15468\1543601832.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tb_attacks_not_na['imp_activity'] = tb_attacks_not_na['activity'].str.findall(r'Surfing|Paddling|Free Diving|Swimming')

In [87]:
#Removendo colunas com muitas linhas vazias
tb_attacks_not_na.dropna(axis = 1, thresh = 3000)

#Removendo linhas com muitas colunas vazias
tb_attacks_not_na.dropna(axis = 0, thresh = 10)

tb_attacks_not_na.head()

     year     activity sex_    country fatal_(y/n) imp_activity
0  2018.0     Paddling             usa           n   [Paddling]
1  2018.0     Standing             usa           n           []
2  2018.0      Surfing    m        usa           n    [Surfing]
3  2018.0      Surfing    m  australia           n    [Surfing]
4  2018.0  Free diving    m     mexico           n           []

In [92]:
#Agrupando informações(1)

tb_attacks_pais_fatal = tb_attacks_not_na.groupby(by=['country','fatal_(y/n)'])['year'].count().reset_index()
tb_attacks_pais_fatal.head()

                  country fatal_(y/n)  year
0                  africa           y     1
1                 algeria           y     1
2           americansamoa           y     3
3          andamanislands           y     1
4  andamannicobarislandas           y     1

In [93]:
#Agrupando informações(2)

tb_attacks_sex_fatal = tb_attacks_not_na.groupby(by=['sex_','fatal_(y/n)'])['year'].count().reset_index()
tb_attacks_sex_fatal.head()

  sex_ fatal_(y/n)  year
0                n   438
1              nnn     2
2                y    98
3    m                 2
4    m           n  3295

In [94]:
#Agrupando informações(3)

tb_attacks_pais_fatal = tb_attacks_not_na.groupby(by=['imp_activity','fatal_(y/n)'])['year'].count().reset_index()
tb_attacks_pais_fatal.head()

TypeError: unhashable type: 'list'